  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% if (locals.csrfToken) { %>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <% } %>
  </head>